#Java
/verteilteWebInf/nbproject/private/
*.class
*~
*.lock
*.DS_Store
*.swp
*.out
*.netbeans_automatic_build
/nbproject/private/
/Blatt 3/target/
*.iml
*.idea/
Blatt 3/Aufgabe 2/3m.txt
*.java-version
